<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{{ page.title }} | {{ site.author }}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="{{ site.url }}/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css">
    <link rel="stylesheet" href="/media/css/highlight.css">
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
          <h1>{{ page.title }}</h1>
        </header>
        <nav>
          <span><a title="home page" class="" href="{{ site.url }}/">home</a></span>
          <span><a title="code" class="" target="_blank" href="https://github.com/tianweidut">Code</a></span>
          <span><a title="readings" class="" href="{{ site.url }}/readings/">readings</a></span>
          <span><a title="about" class="" href="{{ site.url }}/about/">about</a></span>
        </nav>
        <article class="content">
          {{ content }}
        </article>
      </div>
	<footer>
  		<p><small><a href="https://github.com/tianweidut/tianweidut.github.com">Created</a> by <a href="http://tianweidut.github.com">Tianwei</a> | <span class="label label-success">{{site.time | date:"%Y-%m-%d"}}</span></small></p>
	</footer>      
    </div>
  </body>
</html>
